body{
    width: 95%;
    min-height: 90vh;
    display: grid;
    place-items: center;
    background-color: antiquewhite;
}

.container{
    padding: 10px;
    border-radius: 10px;
    background-color: lightyellow;
}

.container h1{
    border-radius: 5px;
    padding: 5px;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    background-color: lightsalmon;
    color: #FFF;    
}

.container input{
    text-align: center;
}

.container h3{
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    color: rgb(75, 75, 75);
}